body {
  font-size: 20px;
  background-color: #2a2b2c;
  padding-top: 65px;
  color: #d9cb9e;
}

h1, h2, h4, #home {
  text-align: center;
}

h1, h2, a:hover {
  color: #dc3522;
}

h1, h2, .navbar {
  font-family: monospace, serif;
}

a, a:focus, a:visited, a:active {
  color: #1e1e20;
}

.navbar {
  min-height: 55px;
  background-color: #1e1e20;
}

.nav-link {
  color: #374140;
}

.container {
  margin: 10px auto;
  padding: 200px 15px;
  max-width: 700px;
}

.nav-item {
  margin: 0px 15px;
}

.fa {
  background-color: #d9cb9e;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
