body {
  font-size: 20px;
  background-color: #444;
  padding-top: 65px;
  color: #ddd;
}

h2 {
  text-align: center;
  color: #fe5a1d;
  font-family: monospace, serif;
}

.orange-text {
  color: #fe5a1d;
}

.navbar {
  font-family: monospace, serif;
}

.fa {
  background-color: white;
  padding: 10px;
  margin: 5px;
}

#links {
  text-align: center;
}
