body {
  font-size: 20px;
  background-color: #ddd;
  padding-top: 65px;
}

h2 {
  text-align: center;
  color: #fe5a1d;
  font-family: monospace, serif;
}

.orange-text {
  color: #fe5a1d;
}

.navbar {
  font-family: monospace, serif;
}
